# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Django
db.sqlite3
*.log
media/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db